<h2>Songs By {{artistName}}</h2>

  <div class="row">
    <div class="col-md-12">
    <!--  <button (onClick) = ngArtistList()>View Recently Played Artists</button> -->
<!--      <ul>
        <li *ngFor="let artist in artistList">{{artist}}</li>
      </ul> -->

      <ul>
  <li *ngFor="let song of songNames; let i = index"><a (click)="onClick(i,song)">{{song}}</a></li>
  </ul>

    </div>


  </div>

<hr>
<h2>Users who Listen to {{artistName}} also listen to</h2>

  <div class="row">



<div class="col-md-12">
    

     <ul>
  <li *ngFor="let a of similarArtists"><a (click)="findArtistSongs(a)">{{a}}</a></li>
  </ul>

    </div>





  </div>
