<div class="container-fluid">

 <div class="row">
  <div class="col-md-12">
<h2 align="center">Welcome to Music Recommendation System</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3 align="center">Listen to your favorite artists sing your favorite songs!</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <br><br>
  </div>
</div>

<div class="row">

<div class="col-md-5"></div>

 <div class="col-md-4">


   <ul type="none">
      <li> <a routerLink="/login" class="btn btn-info">Login</a>
        <a routerLink="/signup" class="btn btn-success">Sign up</a></li>
    </ul>


 </div>

</div>
</div>